.menu {
  height: 1px; }

@media (min-width: 1200px) {
  .menu {
    display: none; } }

.menu .openMenu {
  position: fixed;
  right: 10%;
  top: 50px;
  width: 30px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.menu .openMenu .lines {
  border-radius: 5px;
  height: 3px;
  width: 100%;
  background-color: #827864; }

.menu .showMenu {
  animation: showMenu 0.7s ease-in-out forwards; }

.menu .hideMenu {
  animation: hideMenu 0.45s ease-in-out  forwards; }

.menu .container {
  background-color: white;
  display: flex;
  position: fixed;
  width: 70%;
  right: 0;
  transform: translateX(100%);
  top: 0;
  flex-direction: column;
  justify-content: space-around;
  height: 100vh; }

.menu .container .closeMenu {
  position: absolute;
  top: 15px;
  right: 20px;
  color: #827864;
  display: flex;
  align-items: center;
  justify-content: center; }

.menu .container .closeMenu .icon_close {
  font-size: 20px; }

.menu .container .img_container {
  display: flex;
  justify-content: center; }

.menu .container .img_container img {
  width: 100px;
  height: auto; }

@media (min-width: 768px) {
  .menu .container .img_container img {
    width: 150px; } }

.menu .container .menu_options_container {
  display: flex;
  flex-direction: column;
  margin-left: 10%; }

.menu .container .menu_options_container a {
  text-decoration: none;
  color: #827864;
  font-size: 30px;
  font-family: 'Cormorant Infant', serif;
  margin-bottom: 20px; }

.menu .container .follow {
  padding-bottom: 30px;
  padding-right: 20px; }

.menu .container .follow .socialMedia {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end; }

.menu .container .follow .socialMedia .linkNetwork .network .icon {
  color: #827864;
  font-size: 30px; }

.menu .container .follow .socialMedia .instagram {
  margin-right: 20px; }

@keyframes showMenu {
  from {
    transform: translateX(100%); }
  to {
    transform: translateX(0%); } }

@keyframes hideMenu {
  from {
    transform: translateX(0%); }
  to {
    transform: translateX(100%); } }
