@import "../../Assets/css/colorPage";
@import "../../Assets/css/resolutions";

.about{
    
    margin-top: 50px;
    position: relative;
    .info{
        background-color: #DCDCDC;
        padding: 30px 30px 50px 30px;
        @include desktop{
            padding: 0 50px;
            position: absolute;
            top: 0;
            left: 20%;
            width: 25%;
            height: 100%;
            display: flex;
        }
        .title{
            font-family: 'Cormorant Infant', serif;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            span{
                font-size: 35px;
                text-transform: uppercase;
            }
            .phrase{
                margin-top: 15px;
                font-family: 'Arimo', sans-serif;
                font-size: 20px;
                line-height: 1.25;
            }
            .followMeBtn{
                border:1px solid color(mainText);
                color:color(mainText);
                font-size: 22px;
                display: inline-block;
                margin-top: 25px;
                padding: 10px 25px; 
                border-radius: 7px;
                font-style: italic;
                font-weight: bold;
            }
        }
    }
    .beto_img_container{
        background-image: url(../../Assets/images/about-bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 100px;
        @include desktop{            
            justify-content: flex-end;
        }
        #beto_img{
            width: 350px;
            max-width: 100%;
            height: auto;
            @include desktop{            
                margin-right:  20%;
            }
        }
    }
}