.contact {
  padding: 10%; }

.contact .mail_container {
  display: flex;
  flex-direction: column; }

@media (min-width: 1200px) {
  .contact .mail_container {
    gap: 50px;
    flex-direction: row; } }

.contact .mail_container .contact_message {
  background-color: #F5D538;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 450px; }

.contact .mail_container .contact_message span:nth-child(1), .contact .mail_container .contact_message span:nth-child(3) {
  font-family: 'Arimo', sans-serif;
  font-size: 27px;
  text-transform: uppercase; }

.contact .mail_container .contact_message span:nth-child(2) {
  font-family: 'Cormorant Infant', serif;
  font-size: 80px; }

.contact .mail_container .contact_form {
  min-height: 450px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

@media (min-width: 1200px) {
  .contact .mail_container .contact_form {
    border: 2px solid #dedbd4; } }

.contact .mail_container .contact_form form {
  font-family: 'Arimo', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%; }

.contact .mail_container .contact_form form input::placeholder {
  color: #827864; }

.contact .mail_container .contact_form form .inputDataCustomer {
  font-size: 17px;
  background: none;
  border: none;
  cursor: text;
  color: #827864;
  border-bottom: 2px solid #827864;
  padding: 10px;
  margin-bottom: 15px;
  outline: none;
  width: 80%;
  max-width: 450px; }

.contact .mail_container .contact_form form textarea {
  font-size: 17px;
  background: none;
  border: 2px solid #827864;
  color: #827864;
  max-width: 450px;
  outline: none;
  padding: 10px;
  margin-top: 10px;
  width: 80%;
  margin-bottom: 30px; }

.contact .mail_container .contact_form form textarea::placeholder {
  color: #827864; }

.contact .mail_container .contact_form form .submitBtn {
  background: none;
  color: #827864;
  padding: 10px 35px;
  border-radius: 5px;
  border: 2px solid #827864;
  outline: none;
  cursor: pointer; }

.contact .whatssapp {
  background-color: #50B560;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
  margin-top: 50px; }

.contact .whatssapp .link {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  color: white; }

@media (min-width: 768px) {
  .contact .whatssapp .link {
    flex-direction: row; } }

.contact .whatssapp .link .icon_whats {
  font-size: 80px;
  font-weight: bold; }

.contact .whatssapp .link .msg_whats {
  font-size: 17px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column; }

.contact .whatssapp .link .msg_whats span:nth-child(2) {
  font-size: 25px;
  font-weight: bold; }
