.contact {
  background-color: #8ED18A;
  padding: 25vh 10%  10vh 10%; }

@media (min-width: 768px) {
  .contact {
    padding: 20vh 20%; } }

.contact .mail_container {
  display: flex;
  flex-direction: column; }

@media (min-width: 1200px) {
  .contact .mail_container {
    gap: 50px;
    flex-direction: row; } }

.contact .mail_container .contact_message {
  background-color: #CFE6D8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 300px; }

.contact .mail_container .contact_message span:nth-child(1), .contact .mail_container .contact_message span:nth-child(3) {
  font-family: 'Arimo', sans-serif;
  font-size: 27px;
  text-transform: uppercase; }

.contact .mail_container .contact_message span:nth-child(2) {
  font-family: 'Cormorant Infant', serif;
  font-size: 80px; }

.contact .mail_container .contact_form {
  min-height: 450px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

@media (min-width: 1200px) {
  .contact .mail_container .contact_form {
    border: 2px solid white; } }

.contact .mail_container .contact_form form {
  font-family: 'Arimo', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%; }

.contact .mail_container .contact_form form input::placeholder {
  color: white; }

.contact .mail_container .contact_form form .inputDataCustomer {
  font-size: 17px;
  background: none;
  border: none;
  cursor: text;
  color: white;
  border-bottom: 2px solid white;
  padding: 10px;
  margin-bottom: 15px;
  outline: none;
  width: 80%;
  max-width: 450px; }

.contact .mail_container .contact_form form textarea {
  font-size: 17px;
  background: none;
  border: 2px solid white;
  color: white;
  max-width: 450px;
  outline: none;
  padding: 10px;
  margin-top: 10px;
  width: 80%;
  margin-bottom: 30px; }

.contact .mail_container .contact_form form textarea::placeholder {
  color: white; }

.contact .mail_container .contact_form form .submitBtn {
  background: none;
  color: white;
  padding: 10px 35px;
  border-radius: 5px;
  border: 2px solid white;
  outline: none;
  cursor: pointer; }

.contact .whatssapp {
  background-color: #8ED18A;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
  margin-top: 20px; }

.contact .whatssapp .link {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  color: white; }

@media (min-width: 768px) {
  .contact .whatssapp .link {
    flex-direction: row; } }

.contact .whatssapp .link .icon_whats {
  font-size: 80px;
  font-weight: bold; }

.contact .whatssapp .link .msg_whats {
  font-size: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center; }

.contact .whatssapp .link .msg_whats span:nth-child(2) {
  font-size: 25px;
  font-weight: bold; }
