@import "../../Assets/css/colorPage";
@import "../../Assets/css/resolutions";

.Gallery{
    margin-top: 50px;
    color: color(mainText);

    .gallery_title{
        h1{
            font-family: 'Cormorant Infant', serif;
            font-weight: bold;
            font-size: 80px;
            text-transform: uppercase;
            @include desktop(){
                font-size: 65px;
            }
        }
        
    }
    .gallery_options{
        &_item{
            margin-top: 40px;
            // border:1px solid red;
            overflow: hidden;
            &_container_img{
                width: 100%;
                height: 250px;
                overflow: hidden;
                position: relative;
                cursor: pointer;
                .gallery_bg_img{
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center center;                          
                    height: 100%;
                    width: 100%;
                    transition: filter,transform 0.7s;
                }
                &:hover{
                    .gallery_bg_img{
                        filter: grayscale(100%);
                        transform: scale(1.1);
                    }
                    .show_gallery{
                        path{
                            animation: svgAnimation 0.7s linear forwards;
                        } 
                    }
                }
                .gallery_bg_volcan{
                    background-image: url('../../Assets/images/gallery/volcan.jpg') ;                                   
                }
                .gallery_bg_people{
                    background-image: url('../../Assets/images/gallery/people.jpg') ;               
                }
                .gallery_bg_street{
                    background-image: url('../../Assets/images/gallery/palacio.jpg') ;               
                }

                .show_gallery{
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%,-50%);                                 
                    svg{
                        width: 100px;
                        height: 100px;
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%,-50%)
                        
                    }
                    path {                        
                        fill: transparent;
                        stroke-width: 10;
                        stroke: none;
                        stroke-dasharray: 1765;
                        stroke-dashoffset: 0;
                    }
                }                                    
            }
            &_description{
                padding: 5%;
                .title{
                    color:black;
                    
                }
            }
        }
        
        .img_center{
            .gallery_options_item_container_img{
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            .gallery_options_item_description{
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 5% 15%;
            }
        }

    }
}


@keyframes svgAnimation{

    0%{
       stroke-dashoffset: 0; 
       stroke: color(color3);
    }
    80%{
        stroke-dashoffset: 1765; 
       stroke: color(color3);
       fill: transparent;


     }
     100%{
        stroke-dashoffset: 1765; 
        stroke: color(color3);
        fill: color(color3);
     }
}