.Gallery {
  margin-top: 50px;
  color: #827864;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden; }

@media (min-width: 1200px) {
  .Gallery {
    position: relative; } }

.Gallery .gallery_title h1 {
  font-family: 'Cormorant Infant', serif;
  font-weight: bold;
  font-size: 80px;
  text-transform: uppercase; }

@media (min-width: 1200px) {
  .Gallery .gallery_title h1 {
    font-size: 20vw;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
    letter-spacing: 5px; } }

.Gallery .gallery_title .showCat {
  cursor: pointer;
  position: relative;
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 50px;
  text-align: center; }

@media (min-width: 1200px) {
  .Gallery .gallery_title .showCat {
    position: fixed;
    top: 50%;
    right: 0;
    z-index: 2; } }

.Gallery .gallery_title .showCat::before {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 50%;
  transform: translateX(-50%);
  width: 110px;
  height: 1px;
  border-bottom: 1px solid #827864; }

.Gallery .container {
  overflow: hidden; }

.Gallery .container .gallery_options_item_container_img {
  width: 100%;
  height: 250px;
  overflow: hidden;
  position: relative;
  cursor: pointer; }

@media (min-width: 768px) {
  .Gallery .container .gallery_options_item_container_img {
    height: 450px; } }

.Gallery .container .gallery_options_item_container_img .gallery_bg_img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100%;
  width: 100%;
  transition: filter,transform 0.7s; }

.Gallery .container .gallery_options_item_container_img:hover .gallery_bg_img {
  filter: grayscale(100%);
  transform: scale(1.1); }

.Gallery .container .gallery_options_item_container_img:hover .show_gallery path {
  animation: svgAnimation 0.7s linear forwards; }

.Gallery .container .gallery_options_item_container_img .gallery_bg_volcan {
  background-image: url("../../Assets/images/gallery/volcan.jpg"); }

.Gallery .container .gallery_options_item_container_img .gallery_bg_people {
  background-image: url("../../Assets/images/gallery/people.jpg"); }

.Gallery .container .gallery_options_item_container_img .gallery_bg_street {
  background-image: url("../../Assets/images/gallery/palacio.jpg"); }

.Gallery .container .gallery_options_item_container_img .show_gallery {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }

.Gallery .container .gallery_options_item_container_img .show_gallery svg {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }

.Gallery .container .gallery_options_item_container_img .show_gallery path {
  fill: transparent;
  stroke-width: 10;
  stroke: none;
  stroke-dasharray: 1765;
  stroke-dashoffset: 0; }

.Gallery .container .gallery_options_item_description {
  padding: 5%; }

.Gallery .container .gallery_options_item_description .title {
  color: black; }

@media (min-width: 1200px) {
  .Gallery .container .gallery_options .opc_volcan {
    display: flex;
    align-items: center;
    padding-left: 15vw;
    margin-top: 15vw; }
  .Gallery .container .gallery_options .opc_volcan .gallery_options_item_container_img {
    width: 768px;
    height: 512px; }
  .Gallery .container .gallery_options .opc_volcan .gallery_options_item_description {
    width: 350px; }
  .Gallery .container .gallery_options .opc_people {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    margin-top: 20vh; }
  .Gallery .container .gallery_options .opc_people .gallery_options_item_container_img {
    width: 768px;
    height: 512px; }
  .Gallery .container .gallery_options .opc_people .gallery_options_item_description {
    width: 350px; }
  .Gallery .container .gallery_options .opc_street {
    display: flex;
    align-items: center;
    padding-left: 15vw;
    margin-top: 15vh; }
  .Gallery .container .gallery_options .opc_street .gallery_options_item_container_img {
    width: 768px;
    height: 512px; }
  .Gallery .container .gallery_options .opc_street .gallery_options_item_description {
    width: 350px; } }

@media (min-width: 1200px) {
  .Gallery .container .gallery_items {
    margin-top: 40vh; } }

@keyframes svgAnimation {
  0% {
    stroke-dashoffset: 0;
    stroke: #8ED18A; }
  80% {
    stroke-dashoffset: 1765;
    stroke: #8ED18A;
    fill: transparent; }
  100% {
    stroke-dashoffset: 1765;
    stroke: #8ED18A;
    fill: #8ED18A; } }
