.Gallery {
  margin-top: 50px;
  color: #827864; }

.Gallery .gallery_title h1 {
  font-family: 'Cormorant Infant', serif;
  font-weight: bold;
  font-size: 80px;
  text-transform: uppercase; }

@media (min-width: 1200px) {
  .Gallery .gallery_title h1 {
    font-size: 65px; } }

.Gallery .gallery_options_item {
  margin-top: 40px;
  overflow: hidden; }

.Gallery .gallery_options_item_container_img {
  width: 100%;
  height: 250px;
  overflow: hidden;
  position: relative;
  cursor: pointer; }

.Gallery .gallery_options_item_container_img .gallery_bg_img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100%;
  width: 100%;
  transition: filter,transform 0.7s; }

.Gallery .gallery_options_item_container_img:hover .gallery_bg_img {
  filter: grayscale(100%);
  transform: scale(1.1); }

.Gallery .gallery_options_item_container_img:hover .show_gallery path {
  animation: svgAnimation 0.7s linear forwards; }

.Gallery .gallery_options_item_container_img .gallery_bg_volcan {
  background-image: url("../../Assets/images/gallery/volcan.jpg"); }

.Gallery .gallery_options_item_container_img .gallery_bg_people {
  background-image: url("../../Assets/images/gallery/people.jpg"); }

.Gallery .gallery_options_item_container_img .gallery_bg_street {
  background-image: url("../../Assets/images/gallery/palacio.jpg"); }

.Gallery .gallery_options_item_container_img .show_gallery {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }

.Gallery .gallery_options_item_container_img .show_gallery svg {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }

.Gallery .gallery_options_item_container_img .show_gallery path {
  fill: transparent;
  stroke-width: 10;
  stroke: none;
  stroke-dasharray: 1765;
  stroke-dashoffset: 0; }

.Gallery .gallery_options_item_description {
  padding: 5%; }

.Gallery .gallery_options_item_description .title {
  color: black; }

.Gallery .gallery_options .img_center .gallery_options_item_container_img {
  display: flex;
  flex-direction: column;
  align-items: center; }

.Gallery .gallery_options .img_center .gallery_options_item_description {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5% 15%; }

@keyframes svgAnimation {
  0% {
    stroke-dashoffset: 0;
    stroke: #8ED18A; }
  80% {
    stroke-dashoffset: 1765;
    stroke: #8ED18A;
    fill: transparent; }
  100% {
    stroke-dashoffset: 1765;
    stroke: #8ED18A;
    fill: #8ED18A; } }
