.imageLetters .container-text {
  padding: 100px 0;
  position: relative; }
  @media (min-width: 768px) {
    .imageLetters .container-text {
      display: flex;
      justify-content: flex-end; } }
  .imageLetters .container-text .phrase {
    font-family: Helvetica;
    font-size: 55px; }
    .imageLetters .container-text .phrase .txtColor {
      color: gainsboro; }
    @media (min-width: 768px) {
      .imageLetters .container-text .phrase {
        position: absolute;
        z-index: 2;
        width: 60%;
        left: 50px; } }
  .imageLetters .container-text .tijuana {
    max-width: 100%;
    width: 100%;
    height: auto; }
    @media (min-width: 768px) {
      .imageLetters .container-text .tijuana {
        width: 50%; } }

.imageLetters .container_house .stars {
  padding: 50px 0;
  background-color: #111; }
  .imageLetters .container_house .stars .casa_img {
    width: 100%;
    height: auto; }
